/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--------------------reset code--------------------*/

body {
    height: 1000px;
}

header {
    width: 100%;
    border-bottom: 1px solid #ccc; 
    position: fixed;
    min-width: 380px;
    background-color: #fff;
}

header > ul {
    display: none;
    gap: 16px;
    justify-content: flex-start;
    padding: 8px 16px;
}

header > #box_logo {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    height: 80px;
    border-bottom: 1px solid #ccc; 
}

header > #box_logo > h1 {
    font-size: 20px;
    font-weight: bold;
    line-height: 80px;
}

header > #box_logo > #box_ul_mobile {
    display: flex;
    line-height: 80px;
    gap: 8px;
}

header > #box_logo > #box_ul_pc {
    display: none;
    line-height: 80px;
    gap: 16px;
    font-weight: bold;
}

header > nav > ul {
    display: flex;
    gap: 30px;
    margin: 0 16px;
    overflow: auto;
    white-space: nowrap;
}

header > nav > ul > li {
    padding: 16px 0;
}

header > nav > ul > :first-child {
    font-weight: bold;
    border-bottom: 3px solid;
}

@media (min-width:1024px) {
    header > ul {
        display: flex;
    }
    main {
        width: 100%;
        padding-top: 136px;
    }

    header > #box_logo > #box_ul_mobile {
        display: none;
    }

    header > #box_logo > #box_ul_pc {
        display: flex;
    }

    
}