/* reset.css */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: black;
    text-decoration: none;
    outline: none;
}

/*================================Reset code===============================*/

/* header */

body {
    background-color: #f5f5f7;
    height: 3000px;
    /* 임시 */
}

header {
    width: 100%;
    height: 45px;
    background-color: rgb(43, 43, 43);
}

nav > ul {
    width: 1024px;
    margin: 0 auto;
    line-height: 45px;
    justify-content: space-between;
    display: flex;
    font-size: 10px;
    color: aliceblue;
}

/*-------------------- main --------------------------*/

#main_info {
    width: 980px;
    display: flex;
    justify-content: space-between;
    margin: 70px auto 64px;
}

#main_text {
    width: 534px;
}

#main_text > h1 {
    color: rgb(116, 116, 116);
    font-size: 40px;
    font-weight: bold;
}

h1 > span {
    color: black;
}

#specialist p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

#specialist a {
    font-size: 14px;
    font-weight: bold;
    color: #06c;
    text-decoration: none;
}

#firstbox {
    margin-bottom: 20px;
}

/*============= main > productcategory_container ==============*/

#productcategory_container {
    display: flex;
    justify-content: space-between;
    width: 1024px;
    margin: 0 auto 62px;
}

.productcategory > a > img {
    width: 120px;
    height: 78px;
    padding-bottom: 16px;
}

.productcategory > a > p {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/*============= main > newproduct_section ==============*/

#newproduct_section {
    width: 1240px;
    margin: 0 auto 54px auto;
}

#newproduct_section > h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 24px;
}

#newproduct_section > h2 > span {
    color: #6e6e73;
}

#newproduct_container {
    display: flex;
    justify-content: space-between;
}

#newproduct_section > div > div {
    width: 400px;
    height: 500px;
    border-radius: 20px;
}

#newproduct_container > div > div {
    padding: 30px;
    font-weight: bold;
}

#macbookpro {
    background-image: url("https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-40-macbook-pro-202301?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1671578693545");
}

#macmini {
    background-image: url("https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-40-mac-mini-202301?wid=400&hei=500&fmt=jpeg&qlt=95&.v=1670448669900");
}

.newproduct1 > div {
    color: #fff;
}

.newproduct1 > div > h3 {
    font-size: 12px;
    margin-bottom: 12px;
}

.newproduct1 > div > #newproductinfo1 {
    font-size: 28px;
    margin-bottom: 10px;
    line-height: 38px;
}

.newproduct2 {
    background-image: url("https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-50-bts-airpods-202206?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1655863107306");
}

.newproduct2 > div > h3 {
    font-size: 12px;
    margin-bottom: 12px;
    color: #6e6e73;
}

.newproduct2 > div > #newproductinfo1 {
    font-size: 28px;
    margin-bottom: 10px;
    line-height: 38px;
}

.newproduct2 > div > #newproductinfo2 {
    color: #1d1d1f;
}

#accproduct_section{
    width:1066px;
    margin:0px auto;
}

#accproduct_section > h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 24px;
}

#accproduct_section > h2 > span {
    color: #6e6e73;
}

#accproduct_container{
    display:flex;
    justify-content: space-between;
}

.acc_info{
    width:400px;
    height:500px;
    background-image: url("https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-40-valentines-day-202301?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1673037582915");
    border-radius: 20px;
}

.acc_info > div{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:340px;
    height: 97px;
    padding: 30px;
}

.acc_info > div > p:nth-child(1){
    font-size:12px;
    color:#6E6E73;
    font-weight: bold;
}

.acc_info > div > p:nth-child(2){
    font-size:28px;
    color:#EC3217;
    font-weight: bold;
}

.acc_info > div > p:nth-child(3){
    font-size:17px;
    color:#1D1D1F;
    font-weight: 400;
}

.acc_product{
    width:253px;
    height:440px;
    padding:30px;
    border-radius: 20px;
    background-color: #fff;
}